<!--
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>
-->
<!--
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size=>Meu App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" style="padding">

    <h1>Botões</h1>

    <ion-button>Padrão</ion-button>
    
  </div>
</ion-content>
-->


<ion-header>
  <ion-toolbar>
    <ion-title>
      Meu App
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding>

  <h4>Configurando entrada (floating, fixed e stacked</h4>
  <ion-item>
    <ion-label position="stacked">Seu nome:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <h4>Entrada de dados (value, placeholder, clearinput)</h4>

  <ion-item>   
    <ion-input clearInput placeholder="Digite o seu nome:"></ion-input>
  </ion-item>

  <h4>Tipos de entradas (text, number, password, email, tel, url, search)</h4>

  <ion-item>  
    <ion-label>Texto:</ion-label> 
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>  
    <ion-label>Número:</ion-label> 
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-item>  
    <ion-label>Senha:</ion-label> 
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-item>  
    <ion-label>Email:</ion-label> 
    <ion-input type="email"></ion-input>
  </ion-item>

  <ion-item>  
    <ion-label>Telefone:</ion-label> 
    <ion-input type="tel"></ion-input>
  </ion-item>

  <ion-item>  
    <ion-label>URL:</ion-label> 
    <ion-input type="url"></ion-input>
  </ion-item>

  <ion-item>  
    <ion-label>Search:</ion-label> 
    <ion-input type="search"></ion-input>
  </ion-item>



</ion-content>
