<!--
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size=>Meu App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

   <h4>Grid</h4>
    <ion-grid>
      <ion-row>
        <ion-col>Conteúdo 1</ion-col>
      </ion-row>
    </ion-grid>
    
  </div>
</ion-content>
-->


<ion-header>
  <ion-toolbar>
    <ion-title>
      Meu App
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding">

  <h4>Grid</h4>
  <ion-grid>
    <ion-row>
      <ion-col size="9">Conteúdo 1</ion-col>
      <ion-col size="3">Conteúdo 2</ion-col>
    </ion-row>
     <ion-row>
      <ion-col size="4">Conteúdo 1</ion-col>
      <ion-col size="4">Conteúdo 2</ion-col>
      <ion-col size="4">Conteúdo 2</ion-col>
    </ion-row>
  </ion-grid>

  <h4>Grid - offset</h4>
  <ion-grid>
    <ion-row>
      <ion-col size="6">Conteúdo 1</ion-col>
      <ion-col size="3" offset="2">Conteúdo 2</ion-col>
    </ion-row>
  </ion-grid>

  <h4>Grid - alinhamento textos (text-start, text-end, text-center</h4>
  <ion-grid>
      <ion-row>
        <ion-col size="4" class="ion-text-end">1</ion-col>
        <ion-col size="4" class="ion-text-center">2</ion-col>
        <ion-col size="4" class="ion-text-start">2</ion-col>
    </ion-row>
  </ion-grid>

  <h4>Grid - alinhamento vertical</h4>
  <ion-grid>
      <ion-row class="ion-align-items-start">
        <ion-col size="4" class="">1</ion-col>
        <ion-col size="4" class="">2</ion-col>
        <ion-col size="4" class="">3 <br> + <br> +</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="4" class="">1</ion-col>
        <ion-col size="4" class="">2</ion-col>
        <ion-col size="4" class="">3 <br> + <br> +</ion-col>
      </ion-row>
  </ion-grid>

  <ion-grid>
      <ion-row class="ion-align-items-end">
        <ion-col size="4" class="">1</ion-col>
        <ion-col size="4" class="">2</ion-col>
        <ion-col size="4" class="">3 <br> + <br> +</ion-col>
      </ion-row>
  </ion-grid>

</ion-content>


